In [2]:
import pandas as pd

In [3]:
csv = pd.read_csv("/home/robbe/ionbot/PXD014381/mzml_files2/ExperimentalDesign.csv", sep=";")
csv

                FileName Condition  Biorep  Fraction  Techrep
0                QX01860        RA       1         1        1
1                QX01863        RA       1         1        2
2                QX01866        RA       1         1        3
3                QX01869        RA       1         1        4
4                QX01872        RA       1         1        5
5                QX01862   Diamide       1         1        1
6                QX01865   Diamide       1         1        2
7                QX01868   Diamide       1         1        3
8                QX01984   Diamide       1         1        4
9                QX01874   Diamide       1         1        5
10               QX01983   Control       1         1        1
11  QX01981_160316090220   Control       1         1        2
12               QX01867   Control       1         1        3
13               QX01870   Control       1         1        4
14               QX01873   Control       1         1        5

In [4]:
csv.to_csv("ExperimentalDesign.tsv", sep="\t")