In [2]:
import pandas as pd

In [7]:
csv = pd.read_csv("/home/robbe/ionbot/ionbot_0.9.5/PXD024844/quant/ExperimentalDesign.csv", sep=";")
csv

                        Filename Condition  Biorep  Fraction  Techrep
0  20200828_1_5ug_testis_bellamo     Young       1         1        1
1   20200828_1_5ug_testis_bendix     Young       2         1        1
2  20200828_1_5ug_testis_ilineus     Young       3         1        1
3   20200828_1_5ug_testis_ingwar       Old       1         1        1
4  20200828_1_5ug_testis_kalonso     Young       4         1        1
5  20200828_1_5ug_testis_obelisk       Old       2         1        1
6   20200828_1_5ug_testis_primat     Young       5         1        1
7    20200828_1_5ug_testis_timon       Old       3         1        1
8   20200828_1_5ug_testis_vitali     Young       6         1        1
9    20200828_1_5ug_testis_wonny       Old       4         1        1

In [8]:
csv.to_csv("ExperimentalDesign.tsv", sep="\t")